@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

:root {
  --cx-g-color-background: #f4f4f4;
  --cx-g-color-primary: #44d62c;
  --cx-color-primary: #44d62c;
  --razer-color-body-text: #999;
  --cx-font-weight-bold: 400;
  --cx-color-light: #222;
  --cx-color-background: #222;
  font-size: 16px;
}

.container {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  overflow: auto;
  /* gap: 2rem; */
  flex: none;
  scroll-snap-type: x proximity;
  width: 100%;
  flex-flow: row nowrap;
}
.container::-webkit-scrollbar {
  display: none;
}
.container > div {
  scroll-snap-align: center;
  flex: none;
  background-color: #222;
  font-size: 20px;
  width: 82%;
  margin-left: 2rem;
}
.container > div:last-child {
  margin-right: 2rem;
}

.image {
  background-color: #111;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
select {
  align-items: center;
  background: 0 0;
  border: 1px solid #999;
  border-radius: 0.25rem;
  color: #999;
  display: flex;
  font-family: Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.875rem;
  min-height: 3rem;
  min-width: var(14.0625rem);
  padding: 0.875rem 0.75rem;
}

.shadow {
  box-shadow: 0 0 0 1px #44d62c;
}

.legend {
  transform: translatey(-55%);
  width: max-content;
  background: black;
  padding: 0 0.2em;
}
